<html>
	<style>
	    .topnav {
          overflow: hidden;
          background-color: #bb9da2;
        }

        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }

        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }

        .topnav a.active {
          background-color: #8f2635;
          color: white;
        }
	</style>
	<body>
		<div class="topnav" style="font-family: Arial">
		<a href="/todo/">To-Do List</a>
        <a href="/todoHistory/">To-Do List History</a>
		<a class="active" href="../teamcontributions">Team Contributions</a>
		</div>

		<br />
		<hr style="color:#bb9da2">
		<h1 align="center" style="font-family:FuturateeMed; color: #8f2635">Team Contributions</h1>
		<hr style="color:#bb9da2">
		<br>

		<div style="padding: 10px; font-family: Arial">
			<div style="padding-left: 10px; padding-bottom: 15px">
				<center style="color: #bb9da2; font-family: Arial; font-size: 25px; font-weight: bold">Team Roles</center>
				<p>
					<b>1. Lee Zhi Xuan</b> - PM/QA/Developer<br />
					<ul>
						<li>Monitor the progress and work done by the team, managing the team</li>
						<li>Tracking issues and new and change requirements of the project</li>
						<li>Some development</li>
						<li>Testing</li>
						<li>Writing selenium/pytest test cases</li>
					</ul>
					<b>2. Gerald Ng</b> - QA Lead<br />
					<ul>
						<li>Test case documentation</li>
						<li>Writing selenium/pytest test cases</li>
						<li>Manage QA Team, assigning of work to QA Team</li>
						<li>Working with the PM and Tech Lead to deliver the product</li>
						<li>Testing</li>
					</ul>
					<b>3. Sandy Kee</b> - QA<br />
					<ul>
						<li>Testing</li>
						<li>Writing selenium/pytest test cases</li>
						<li>Working closely Tech Lead/QA Lead for testing of developed features</li>
					</ul>
					<b>4. Dian Izzati</b> - Tech Lead<br />
					<ul>
						<li>Development</li>
						<li>Manage Developer Team, assigning of work to developers</li>
						<li>Working with the PM and QA Lead to deliver the product</li>
					</ul>
					<b>5. Low Kai Woon</b> - Developer
					<ul>
						<li>Development</li>
						<li>Working closely Tech Lead/QA Lead for development/testing of developed features</li>
					</ul>
				</p>
			</div>
			<hr style="color:#bb9da2">
			<div style="padding-left: 10px; padding-top: 15px; padding-bottom: 15px">
				<center style="color: #bb9da2; font-family: Arial; font-size: 25px; font-weight: bold">Login Page</center>
				<p>
					<b>Test Case Documentation:</b> Gerald Ng<br />
					<b>Selenium/Pytest Test Cases:</b> Lee Zhi Xuan (Pytest), Sandy Kee (Selenium)<br />
					<b>Development:</b> Lee Zhi Xuan<br />
					<b>Testing:</b> Sandy Kee
				</p>
			</div>
			<hr style="color:#bb9da2">
			<div style="padding-left: 10px; padding-top: 15px; padding-bottom: 15px">
				<center style="color: #bb9da2; font-family: Arial; font-size: 25px; font-weight: bold">Registration Page</center>
				<p>
					<b>Test Case Documentation:</b> Gerald Ng<br />
					<b>Selenium/Pytest Test Cases:</b> Sandy Kee<br />
					<b>Development:</b> Lee Zhi Xuan<br />
					<b>Testing:</b> Sandy Kee
				</p>
			</div>
			<hr style="color:#bb9da2">
			<div style="padding-left: 10px; padding-top: 15px; padding-bottom: 15px">
				<center style="color: #bb9da2; font-family: Arial; font-size: 25px; font-weight: bold">Todo Page</center>
				<p>
					<b>Test Case Documentation:</b> Gerald Ng<br />
					<b>Selenium/Pytest Test Cases:</b> Lee Zhi Xuan, Gerald Ng<br />
					<b>Development:</b> Dian Izzati<br />
					<b>Testing:</b> Lee Zhi Xuan
				</p>
			</div>
			<hr style="color:#bb9da2">
			<div style="padding-left: 10px; padding-top: 15px; padding-bottom: 15px">
				<center style="color: #bb9da2; font-family: Arial; font-size: 25px; font-weight: bold">Todo History Page</center>
				<p>
					<b>Test Case Documentation:</b> Gerald Ng<br />
					<b>Selenium/Pytest Test Cases:</b> Sandy Kee<br />
					<b>Development:</b> Low Kai Woon<br />
					<b>Testing:</b> Sandy Kee, Gerald Ng
				</p>
			</div>
			<hr style="color:#bb9da2">
			<br>
		</div>
		{% if user.is_authenticated %}
			<div style="padding:10px">
				<a href="{% url 'logout' %}" style="border-radius: 6px; border: 0px; background-color: #8f2635; font-size: 18px; padding: 5px 10px; text-decoration: None; color: white; font-family: Arial;">Log Out</a>
			</div>
		{% endif %}
	</body>
</html>